# Use PHP5.4 as default
AddHandler application/x-httpd-php54 .php
# For security reasons, Option all cannot be overridden.
#Options All +Indexes
#Options ExecCGI Includes IncludesNOEXEC SymLinksIfOwnerMatch +Indexes

<IfModule mod_rewrite.c>
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
Options -Indexes
RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
</IfModule>
