/public_html/php.ini
/public_html/htaccess.ini
/appstore/vendor/
/appstore/environments/
/appstore/common/config/
/appstore/frontend/config/
/appstore/backend/config/
/appstore/console/config/
/adds-backups/
/etc/
/logs/
/perl5/
/ssl/
/tmp/
/access-logs/
/www/