/public_html/php.ini
/public_html/htaccess.ini
/appstore/vendor/
/appstore/environments/
/appstore/common/config/
/appstore/frontend/config/
/appstore/backend/config/
/appstore/console/config/
/adds-backups/
/etc/
/logs/
/perl5/
/ssl/
/tmp/
/access-logs/
/www/
/public_html/AndAdds/
/adds/
/.bash_history
/.bash_logout
/.bash_profile
/.bashrc
/.composer/
/.contactemail
/.cpanel-datastore/
/.cpanel/
/.cphorde/
/.dns
/.emacs
/.gemrc
/.kshrc
.lastlogin
.ssh/
.zshrc
Vagrantfile
access-logs
/public_html/AndAds__/
/public_html/error_log
/public_html/php.ini.bak.1505675921
/public_html/test.php
webalizer.conf
www
/appstore/error_log
/public_html/error_log
/public_html/bkd/error_log
